@font-face {
  font-family: "Numismatica Medievalis";
  src: url(fonts/NumismaticaMedievalis-Modified5.ttf) format("truetype");
  font-display: swap;
}

p {
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}
p.breakhere {
  page-break-before: always;
  margin-bottom: 0;
  margin-top: 0;
}
div.row {
  page-break-inside: avoid;
  page-break-after:auto;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

html, body {
  font-family: arial, sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

table {
  width: 100%;
}
td {
  table-layout: fixed;
  border-color: #000000;
  border-style: solid;
  border-width: 0;
  word-wrap: break-word;
  padding: 2px 4px;
}
td.cell_full {
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  max-width: 1000px;
}
td.cell_left {
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}
td.cell_mid {
  border-top-width: 1px;
  border-right-width: 1px;
}
td.cell_right {
  border-top-width: 1px;
  border-right-width: 1px;
}
td.cell_bottom {
  border-top-width: 1px;
  max-width: 1000px;
  height: 1px;
  padding: 0;
}
td.cell_top {
  border-top-width: 1px;
}
td.title {
  font-style: italic;
/* Modified by CC: Add bold */
  font-weight: bold;
  font-size: small;
  vertical-align: top;
}
td.data {
  font-style: italic;
/* Commented out by CC:
  font-weight: bold;
*/
  font-size: small;
/* Modified by CC:
  vertical-align: middle;
*/
  vertical-align: top;
}
td.text {
  font-style: italic;
  font-size: small;
  vertical-align: middle;
}
td.bg_gold {
  background: #d4af37;
}
td.bg_gold_75 {
  background: #d4af3775;
}
td.bg_gold_50 {
  background: #d4af3750;
}
td.bg_gold_25 {
  background: #d4af3725;
}
td.bg_silver {
  background: #c0c0c0;
}
td.bg_silver_75 {
  background: #c0c0c075;
}
td.bg_silver_50 {
  background: #c0c0c050;
}
td.bg_silver_50 {
  background: #c0c0c025;
}
td.bg_bronze {
  background: #cd7f32;
}
td.bg_bronze_75 {
  background: #cd7f3275;
}
td.bg_bronze_50 {
  background: #cd7f3250;
}
td.bg_bronze_25 {
  background: #cd7f3225;
}
td.bg_rhodium {
  background: #e2e7e1;
}
td.bg_rhodium_75 {
  background: #e2e7e175;
}
td.bg_rhodium_50 {
  background: #e2e7e150;
}
td.bg_rhodium_25 {
  background: #e2e7e125;
}
td.bg_gold_y_silver_y {
  background: linear-gradient(to right, #c0c0c075 45%, #d4af3775 55%);
}
td.bg_gold_y_silver_n {
  background: linear-gradient(to right, #ffffff 45%, #d4af3775 55%);
}
td.bg_gold_n_silver_y {
  background: linear-gradient(to right, #c0c0c075 45%, #ffffff 55%);
}
td.bg_gold_n_silver_n {
  background: linear-gradient(to right, #ffffff 45%, #ffffff 55%);
}
td.bg_silver_y_gold_y {
  background: linear-gradient(to right, #d4af3775 45%, #c0c0c075 55%);
}
td.bg_silver_y_gold_n {
  background: linear-gradient(to right, #ffffff 45%, #c0c0c075 55%);
}
td.bg_silver_n_gold_y {
  background: linear-gradient(to right, #d4af3775 45%, #ffffff 55%);
}
td.bg_silver_n_gold_n {
  background: linear-gradient(to right, #ffffff 45%, #ffffff 55%);
}
td.bg_gold_y {
  background: #d4af3775;
}
td.bg_silver_y {
  background: #c0c0c075;
}
td.bg_now_a_priority {
  font-weight: bold;
  color: #ff0000;
}
td.bg_not_a_priority {
  text-decoration: line-through;
}
td.bg_does_not_exist {
  position: relative;
  background: linear-gradient(to right bottom, #ffffff00 47%, #000000 50%, #ffffff00 53%);
}
td.bg_does_not_exist:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to right top, #ffffff00 47%, #000000 50%, #ffffff00 53%);
}

td a {
  white-space: pre-wrap; /* css-3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a.image {
  text-decoration: none;
}

.image {
  max-width: 100%;
  padding: 0;
}

/* Added by CC: */

a, a:visited, a:hover, a:active {
  color:#000000;
}

.title_page {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1px 0px;
  background: #ffffff;
}

.section {
  scroll-margin-top: 35px;
}

.toc {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 1px 0px;
  background: #ffffff;
}

/* Style for modal images, adapted from W3Schools */

/* Modal images */

.modal_image {
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal_image:hover {
  opacity: 0.7;
}

/* Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 35px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 1000px;
}

/* Caption of the modal image (from the alt text) */

#caption {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 1000px;
  text-align: center;
  color: #ffffff;
  padding: 4px 0px;
  height: 0px;
}

/* Animation to zoom in the modal */

.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* "Close" button */

.close {
  position: absolute;
  top: 0px;
  right: 8px;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #e2e7e1;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1000px){
  .modal-content {
    width: 100%;
  }
}
